//Mixins
//Flex
@mixin flex($dir, $align, $justifyI, $justifyC) {
  display: flex;
  align-items: $align;
  justify-items: $justifyI;
  justify-content: $justifyC;
  flex-direction: $dir;
}
//Animation
@mixin animate($current, $to) {
  @keyframes interaction {
    0% {
      margin-top: $current;
    }
    50% {
      margin-top: $to;
    }
    100% {
      margin-top: $current;
    }
  }
}
//Service Section SVGs
@mixin serviceSvg($width, $left, $right, $top) {
  width: $width;
  height: auto;
  position: absolute;
  left: $left;
  right: $right;
  padding-top: $top;
  user-select: none;
}
//Button
@mixin button($color, $bgColor, $shadowColor, $actColor) {
  height: 3.90625vw;
  padding: 0 2.34375vw 0 2.34375vw;
  color: $color;
  background: $bgColor;
  box-shadow: 0px 0.3125vw 0.78125vw $shadowColor;
  border-radius: 1.0416666666666667vw;
  border: none;
  outline: none;
  font-family: "PoppinsB";
  font-size: 1.0416666666666667vw;
  cursor: pointer;
  transition: 0.2s;
  &:active {
    transform: scale(0.98);
    box-shadow: none;
    background: $actColor;
  }
}
