//Imports
@import "./mixins.scss";

//Screen 1680px
@media screen and (max-width: 1680px) {
  #hero {
    .content {
      top: 45%;
    }
    .heroQuote {
      top: 120%;
    }
  }
}

//Screen 1500px
@media screen and (max-width: 1500px) {
  #hero {
    .content {
      top: 42%;
    }
    .heroQuote {
      top: 110%;
    }
  }
}

//Screen 1440px
@media screen and (max-width: 1440px) {
  #hero {
    .content {
      top: 40%;
    }
    .heroQuote {
      top: 105%;
    }
  }
}

//Screen 1440px and 900px
@media screen and (max-width: 1440px) and (max-height: 900px) {
  #hero {
    .content {
      top: 45%;
    }
    .heroQuote {
      top: 120%;
    }
  }
}
