//Variables
$bgColor: #fcfafa;
$yellow: #ffe600;
$blue: #736ced;
$pink: #f9637c;
$black: #312f2f;

//Mixins
@mixin flex($dir, $align, $justifyI, $justifyC) {
  display: flex;
  align-items: $align;
  justify-items: $justifyI;
  justify-content: $justifyC;
  flex-direction: $dir;
}

//Fonts
@font-face {
  font-family: "PoppinsR";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PoppinsI";
  src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
  font-family: "PoppinsM";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "PoppinsB";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "PoppinsBI";
  src: url(../fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: "PoppinsEB";
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

//Basic Layout
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PoppinsR";
}

body {
  background-color: $bgColor;
}

#hero {
  max-width: 100vw;
  margin: 0 auto;
  header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
    @include flex(row, center, center, center);
    padding: 0 7.8125vw;
    transition: 0.3s ease;
    .logo {
      flex: 2;
      @include flex(row, center, center, flex-start);
      img {
        width: 3.125vw;
      }
      .compName {
        font-family: "PoppinsB";
        font-size: 1.5625vw;
        padding-left: 1.0416666666666667vw;
      }
    }
    nav {
      justify-content: flex-end;
      ul {
        @include flex(row, center, center, center);
        li {
          list-style: none;
          padding-left: 6.770833333333333vw;
          a {
            cursor: pointer;
            font-family: "PoppinsB";
            font-size: 1.0416666666666667vw;
            color: $bgColor;
            transition: 0.3s;
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }
  //Hero Section Content
  .content {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    padding-left: 9.114583333333334vw;
    font-family: "PoppinsB";
    font-size: 2.6041666666666665vw;
    line-height: 4.6875vw;
    color: $black;
    .contentItalic {
      font-family: "PoppinsBI";
      color: $yellow;
      font-size: 3.3854166666666665vw;
    }
  }
  .heroQuote {
    z-index: 1;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    @include flex(column, center, center, center);
    .heading {
      font-size: 70px;
      font-family: "PoppinsB";
      color: $bgColor;
      margin-bottom:50px;
    }
    .quote {
      @include flex(row, center, center, center);
      .qL {
        margin: -225px 40px 0 0;
        height: auto;
        width: 85px;
      }
      .qR {
        margin: 225px  0 0 40px;
        height: auto;
        width: 85px;
      }
      .qContent {
        display: flex;
        flex-direction: column;
        .para {
          text-align: center;
          color: $bgColor;
          font-size: 24px;
          font-family: "PoppinsI";
        }
        .person {
          display: flex;
          justify-content: flex-end;
          color: $bgColor;
          font-size: 18px;
          font-family: "PoppinsB";
          margin-top: 10px;
        }
      }
    }
  }
}
.headerActive {
  background: $blue;
}
.compNameAct {
  color: $bgColor;
}
