//Variables
$bgColor: #fcfafa;
$yellow: #ffe600;
$blue: #736ced;
$pink: #f9637c;
$black: #312f2f;

//Mixins
@mixin flex() {
  display: flex;
  align-items: center;
  justify-items: center;
}

//Fonts
@font-face {
  font-family: "PoppinsR";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PoppinsM";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "PoppinsB";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "PoppinsBI";
  src: url(../fonts/Poppins-BoldItalic.ttf);
}

//Basic Layout
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PoppinsR";
}

body {
  background-color: $bgColor;
}

#hero {
  max-width: 100vw;
  margin: 0 auto;
  header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
    @include flex();
    padding: 0 7.8125vw;
    transition: 0.3s ease;
    .logo {
      flex: 2;
      @include flex();
      img {
        width: 3.125vw;
      }
      .compName {
        font-family: "PoppinsB";
        font-size: 1.5625vw;
        padding-left: 1.0416666666666667vw;
      }
    }
    nav {
      justify-content: flex-end;
      ul {
        @include flex();
        li {
          list-style: none;
          padding-left: 6.770833333333333vw;
          a {
            cursor: pointer;
            font-family: "PoppinsB";
            font-size: 1.0416666666666667vw;
            color: $bgColor;
            transition: 0.3s;
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }
  //Hero Section Content
  .content {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    padding-left: 9.114583333333334vw;
    font-family: "PoppinsB";
    font-size: 2.6041666666666665vw;
    line-height: 4.6875vw;
    color: $black;
    .contentItalic {
      font-family: "PoppinsBI";
      color: $yellow;
      font-size: 3.3854166666666665vw;
    }
  }
}
.headerActive {
  background: $blue;
}
.compNameAct {
  color: $bgColor;
}
