//Variables
$bgColor: #fcfafa;
$yellow: #ffe600;
$blue: #736ced;
$pink: #f9637c;
$cyan: #56cbf9;
$black: #312f2f;

//Mixins
//Flex
@mixin flex($dir, $align, $justifyI, $justifyC) {
  display: flex;
  align-items: $align;
  justify-items: $justifyI;
  justify-content: $justifyC;
  flex-direction: $dir;
}
//Animation
@mixin animate($current, $to) {
  @keyframes interaction {
    0% {
      margin-top: $current;
    }
    50% {
      margin-top: $to;
    }
    100% {
      margin-top: $current;
    }
  }
}

//Fonts
@font-face {
  font-family: "PoppinsR";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PoppinsI";
  src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
  font-family: "PoppinsM";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "PoppinsB";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "PoppinsBI";
  src: url(../fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: "PoppinsBL";
  src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: "PoppinsEB";
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "PoppinsSB";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

//Basic Layout
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PoppinsR";
}

body {
  background-color: $bgColor;
}

#hero {
  max-width: 100vw;
  margin: 0 auto;
  header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
    @include flex(row, center, center, center);
    padding: 0 7.8125vw;
    transition: 0.3s ease;
    .logo {
      flex: 2;
      @include flex(row, center, center, flex-start);
      img {
        width: 3.125vw;
        user-select: none;
      }
      .compName {
        font-family: "PoppinsB";
        font-size: 1.5625vw;
        padding-left: 1.0416666666666667vw;
        user-select: none;
      }
    }
    nav {
      justify-content: flex-end;
      ul {
        @include flex(row, center, center, center);
        li {
          list-style: none;
          padding-left: 6.770833333333333vw;
          a {
            cursor: pointer;
            font-family: "PoppinsB";
            font-size: 1.0416666666666667vw;
            color: $bgColor;
            transition: 0.3s;
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }
  //Hero Section Content
  .content {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    padding-left: 9.114583333333334vw;
    font-family: "PoppinsB";
    font-size: 2.6041666666666665vw;
    line-height: 4.6875vw;
    color: $black;
    .contentItalic {
      font-family: "PoppinsBI";
      color: $yellow;
      font-size: 3.3854166666666665vw;
    }
  }
  .heroQuote {
    z-index: 1;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    @include flex(column, center, center, center);
    .heading {
      font-size: 3.6458333333333335vw;
      font-family: "PoppinsB";
      color: $bgColor;
      margin-bottom: 2.6041666666666665vw;
    }
    .quote {
      @include flex(row, center, center, center);
      .qL {
        margin: -11.71875vw 2.0833333333333335vw 0 0;
        height: auto;
        width: 4.427083333333333vw;
        user-select: none;
      }
      .qR {
        margin: 11.71875vw 0 0 2.0833333333333335vw;
        height: auto;
        width: 4.427083333333333vw;
        user-select: none;
      }
      .qContent {
        display: flex;
        flex-direction: column;
        .para {
          text-align: center;
          color: $bgColor;
          font-size: 1.25vw;
          font-family: "PoppinsI";
        }
        .person {
          display: flex;
          justify-content: flex-end;
          color: $bgColor;
          font-size: 0.9375vw;
          font-family: "PoppinsB";
          margin-top: 0.5208333333333334vw;
        }
      }
    }
  }
}
.headerActive {
  background: $blue;
}
.compNameAct {
  color: $bgColor;
}

.service {
  img:nth-child(1) {
    width: 75px;
    height: auto;
    position: absolute;
    right: 20%;
    margin-top: 10px;
    @include animate(10px, 25px);
    animation: interaction ease-in-out 2.5s infinite;
  }
  .content {
    padding: 200px 0 200px 0;
    @include flex(column, center, center, center);
    .heading {
      font-size: 80px;
      text-align: center;
      color: $black;
      font-family: "PoppinsB";
      user-select: none;
      .typing {
        font-family: "PoppinsB";
        color: $cyan;
      }
    }
    button {
      height: 75px;
      padding: 0 45px 0 45px;
      color: $bgColor;
      background: $pink;
      box-shadow: 0px 6px 15px rgba(249, 99, 124, 0.47);
      border-radius: 20px;
      border: none;
      outline: none;
      margin-top: 50px;
      font-size: 20px;
      font-family: "PoppinsB";
      cursor: pointer;
      transition: 0.2s;
      &:active {
        transform: scale(0.98);
        box-shadow: none;
        background: #ff5370;
      }
    }
  }
}
